<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>PRIVATE_API_KEY</key>
	<string>9eefd9a877224cb17a0c74f723f89c0b0e2fefa6</string>
	<key>PUBLIC_API_KEY</key>
	<string>5f17141128cddd11b4cfb4884e42b4b0</string>
</dict>
</plist>
